<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G07_bk30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1023,770}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1023,770}}</string>
                <key>sourceSize</key>
                <string>{1023,770}</string>
            </dict>
            <key>g03_time0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1598},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1592},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1567},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1328},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1328},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1322},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1297},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1852},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1058},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1058},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1052},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1582},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1582},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1593},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1471},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1360},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1593},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1323},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1249},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1027},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,788},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,782},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,518},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1138},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,512},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1027},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1587},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,242},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g03_time0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,242},{268,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,109}}</string>
                <key>sourceSize</key>
                <string>{268,109}</string>
            </dict>
            <key>g07_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,242},{274,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,103}}</string>
                <key>sourceSize</key>
                <string>{274,103}</string>
            </dict>
            <key>game_bk0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>待機/g07_red0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,238}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{191,238}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>待機/g07_red0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,238}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{191,238}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>待機/g07_red0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,238}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{191,238}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>待機/g07_red0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,238}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{191,238}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>待機/g07_red0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{191,238}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{191,238}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1027},{123,264}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{123,264}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1027},{123,264}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{123,264}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1027},{123,264}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{123,264}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1027},{123,264}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{123,264}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1027},{123,264}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{123,264}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{131,262}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{131,262}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{131,262}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{131,262}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{131,262}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{131,262}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{131,262}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{131,262}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答對/g07_red0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{131,262}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{131,262}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答錯/g07_red0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{169,294}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{169,294}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答錯/g07_red0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{169,294}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{169,294}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答錯/g07_red0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{169,294}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{169,294}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答錯/g07_red0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{169,294}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{169,294}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
            <key>答錯/g07_red0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1027},{169,294}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{169,294}}</string>
                <key>sourceSize</key>
                <string>{201,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>G7JigsawPuzzle.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d727c4c693d15f9709ac9d4fe664f47$</string>
            <key>textureFileName</key>
            <string>G7JigsawPuzzle.png</string>
        </dict>
    </dict>
</plist>
