<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g03_+0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{102,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,44}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>g03_+0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{102,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{102,42}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>g03_+0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{104,40}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameScore.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e56dafcaae1ab97ca9f9e1cf227a6f8$</string>
            <key>textureFileName</key>
            <string>GameScore.png</string>
        </dict>
    </dict>
</plist>
