<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,273},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>button020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,199},{72,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,48}}</string>
                <key>sourceSize</key>
                <string>{72,48}</string>
            </dict>
            <key>go_game_btn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{103,196}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,196}}</string>
                <key>sourceSize</key>
                <string>{105,220}</string>
            </dict>
            <key>go_game_btn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{103,208}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,208}}</string>
                <key>sourceSize</key>
                <string>{105,220}</string>
            </dict>
            <key>go_story_btn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,199},{94,188}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,188}}</string>
                <key>sourceSize</key>
                <string>{94,220}</string>
            </dict>
            <key>go_story_btn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{90,208}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,208}}</string>
                <key>sourceSize</key>
                <string>{94,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LittleAndButton.png</string>
            <key>size</key>
            <string>{253,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4f04f90a32cdfbc6b45e00c257377f4:6c75aa45f5a0b9d6e7e6e99ad51ebf7f:5c128dd0c833bc8fa66e9fe52a6da6b3$</string>
            <key>textureFileName</key>
            <string>LittleAndButton.png</string>
        </dict>
    </dict>
</plist>
