<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g03_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>g03_start0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,577},{106,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,47},{106,54}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,250},{112,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,42},{112,64}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,130},{118,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,38},{118,72}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,2},{126,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,33},{126,82}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,633},{132,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{132,90}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,437},{138,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{138,98}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,327},{146,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{146,108}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,619},{152,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{152,116}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,619},{158,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{158,126}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_start0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,768},{1,1}}</string>
                <key>offset</key>
                <string>{-89.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{180,150}</string>
            </dict>
            <key>g03_top0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,314},{540,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,154}}</string>
                <key>sourceSize</key>
                <string>{540,154}</string>
            </dict>
            <key>g03_top0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,158},{540,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,154}}</string>
                <key>sourceSize</key>
                <string>{540,154}</string>
            </dict>
            <key>g03_top0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{540,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,154}}</string>
                <key>sourceSize</key>
                <string>{540,154}</string>
            </dict>
            <key>game_bk0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,437},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>go3-red0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,619},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,619},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,619},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,619},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,619},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,470},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,470},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,470},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,470},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,470},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,470},{147,323}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
            <key>go3-red0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{147,323}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{147,323}}</string>
                <key>sourceSize</key>
                <string>{157,327}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>G4PictureMatching.png</string>
            <key>size</key>
            <string>{1803,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf154dc93c9482bebcafecb7f1040d80$</string>
            <key>textureFileName</key>
            <string>G4PictureMatching.png</string>
        </dict>
    </dict>
</plist>
