<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g01_btn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1373},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>g01_btn0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1373},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>g01_btn0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1268},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>g01_btn0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1163},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>g01_btn0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1163},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>g01_btn0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1163},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>g02_btn20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1774},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>g02_btn20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1803},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>g02_btn20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1803},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>g02_btn20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1313},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>g02_btn20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1790},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>g02_btn20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1615},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>g02_feeback0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1488},{228,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,212}}</string>
                <key>sourceSize</key>
                <string>{228,212}</string>
            </dict>
            <key>g02_feeback0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1163},{176,56}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,49},{176,56}}</string>
                <key>sourceSize</key>
                <string>{228,212}</string>
            </dict>
            <key>g02_feeback0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1718},{188,54}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,56},{188,54}}</string>
                <key>sourceSize</key>
                <string>{228,212}</string>
            </dict>
            <key>g03_Feedback0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,776},{385,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,373}</string>
            </dict>
            <key>g03_Feedback0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{385,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,373}</string>
            </dict>
            <key>g03_Feedback0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,389},{385,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,373}</string>
            </dict>
            <key>g03_Feedback0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{385,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,373}</string>
            </dict>
            <key>g03_Feedback0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{385,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,373}</string>
            </dict>
            <key>g03_Feedback0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,373}}</string>
                <key>sourceSize</key>
                <string>{385,373}</string>
            </dict>
            <key>g03_Pull gun0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1382},{108,93}}</string>
                <key>offset</key>
                <string>{-68,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,118},{108,93}}</string>
                <key>sourceSize</key>
                <string>{282,217}</string>
            </dict>
            <key>g03_Pull gun0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1519},{282,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,217}}</string>
                <key>sourceSize</key>
                <string>{282,217}</string>
            </dict>
            <key>g03_ready go0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1127},{390,101}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{390,101}}</string>
                <key>sourceSize</key>
                <string>{420,115}</string>
            </dict>
            <key>g03_ready go0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1127},{184,83}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,15},{184,83}}</string>
                <key>sourceSize</key>
                <string>{420,115}</string>
            </dict>
            <key>g11-Plus0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1268},{50,32}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{50,32}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>g11-Plus0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1268},{82,30}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{82,30}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>g11-Plus0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1127},{1,1}}</string>
                <key>offset</key>
                <string>{-44.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>g11-Plus0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1578},{82,106}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,30},{82,106}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>g11-Plus0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1494},{82,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{82,106}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>g11-Plus0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1382},{82,110}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{82,110}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>g11-Plus0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,1268},{82,112}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{82,112}}</string>
                <key>sourceSize</key>
                <string>{90,150}</string>
            </dict>
            <key>i_pad_HAND.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1127},{486,178}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{486,178}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameShareObject.png</string>
            <key>size</key>
            <string>{764,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abd54cd25722b900cfc4505f145b94a4$</string>
            <key>textureFileName</key>
            <string>GameShareObject.png</string>
        </dict>
    </dict>
</plist>
